mat-form-field {
	height: 50%;
  display: flex;
	flex-direction: column;
	width: 80%;
}

mat-card {
	height: 50%;
	display: flex;
	  flex-direction: column;
	  width: 80%;
}

.example-header-image {
  background-image: url('../../../../assets/img/logo.jpg');
	background-size: cover; 
	display: flex;
	flex-direction: column;
}
.login-container{
	display: flex;
	flex-direction: column;
  	padding: 0% !important;
	background-color: #fff;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}
 
.login-box-header{
	display: flex;
	flex-direction: column;
	width: auto;
    height: 20%;
    background-color:hsla(15, 20%, 84%, 0.718);
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    padding: 2%;
    color: #fff;
}
 
.login-box-body{
	flex-direction: column;
	width: auto;
	height:100%;
	padding: 5% 5% 5% 5%;
	color: #d2d2d2;
}
 
.login-icon{
	margin-top: -2px;
}
 
.justifier {
	width: 100%;
	padding-bottom: 2%;
}
 
.content {
	width: 800px;
	height: 700px;

	position:absolute; /*it can be fixed too*/
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;

	/*this to solve "the content will not be cut when the window is smaller than the content": */
	max-width:100%;
	max-height:100%;
	overflow:auto;
}