<div class="container py-5">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="">
            <img class="img" src="../../../../assets/img/logo.jpg" />
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-category text-gray">Registration</h4>
          <h6 class="card-title">Vibeville New User Login Details</h6>
          <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name" required>
              <mat-error *ngFor="let validation of validation_messages.name">
                <mat-error class="error-message" *ngIf="userDetailsForm.get('name').hasError(validation.type) && (userDetailsForm.get('name').dirty || userDetailsForm.get('name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Surname" formControlName="surname" required>
              <mat-error *ngFor="let validation of validation_messages.surname">
                <mat-error class="error-message" *ngIf="userDetailsForm.get('surname').hasError(validation.type) && (userDetailsForm.get('surname').dirty || userDetailsForm.get('surname').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngFor="let validation of validation_messages.email">
                <mat-error class="error-message" *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error *ngFor="let validation of validation_messages.password">
                <mat-error class="error-message" *ngIf="userDetailsForm.get('password').hasError(validation.type) && (userDetailsForm.get('password').dirty || userDetailsForm.get('password').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"
                [errorStateMatcher]="parentErrorStateMatcher" required>
              <mat-error *ngFor="let validation of validation_messages.confirm_password">
                <mat-error class="error-message" *ngIf="userDetailsForm.controls.confirm_password.errors?.MatchPassword || userDetailsForm.get('confirm_password').hasError(validation.type) && (userDetailsForm.get('confirm_password').dirty || userDetailsForm.get('confirm_password').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <div class="card-footer" style="float:right">
              <mat-card-actions>
                <button class="btn btn-danger btn-round" (click)="cancelRegistration()" mat-raised-button>Cancel</button>
                <button class="btn btn-info btn-round" type="submit" mat-raised-button [disabled]="userDetailsForm.invalid">Save</button>
              </mat-card-actions>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>