<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-rose">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#event" data-toggle="tab">
                                            <i class="material-icons">library_music</i> Event
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#performances" data-toggle="tab">
                                            <i class="material-icons">mic</i> Performances
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="event">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form novalidate [formGroup]="shopItemForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="standard">
                                                        <input matInput placeholder="Event Name" formControlName="name"
                                                            required>
                                                        <mat-error *ngIf="validation.check('name').result">
                                                            {{validation.check('name').message}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <mat-checkbox type="checkbox" formControlName="early" (change)="onChange($event)"
                                                        [required]="isFieldRequired() ? 'required' : null">
                                                            <mat-form-field class="standard">
                                                                <input matInput placeholder="Early Bird Tickets"
                                                                    formControlName="earlyamount" [required]="isAmountRequired() ? 'required' : null" >
                                                                <span matPrefix>R&nbsp;</span>
                                                                <span matSuffix>.00</span>
                                                                <mat-error *ngIf="validation.check('early').result || validation.check('earlyamount').result ">
                                                                    {{validation.check('earlyamount').message}}
                                                                    {{validation.check('early').message}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </mat-checkbox>

                                                    </div>
                                                    <div class="row">
                                                        <mat-checkbox type="checkbox" formControlName="vip" (change)="onChange($event)"
                                                        [required]="isFieldRequired() ? 'required' : null">
                                                            <mat-form-field class="standard">
                                                                <input matInput placeholder="Vip" formControlName="vipamount" [required]="isAmountRequired() ? 'required' : null" >
                                                                <span matPrefix>R&nbsp;</span>
                                                                <span matSuffix>.00</span>
                                                                <mat-error *ngIf="validation.check('vip').result || validation.check('vipamount').result ">
                                                                    {{validation.check('vipamount').message}}
                                                                    {{validation.check('vip').message}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </mat-checkbox>
                                                    </div>
                                                    <div class="row">
                                                        <mat-checkbox type="checkbox" formControlName="general"
                                                            (change)="onChange($event)" [required]="isFieldRequired() ? 'required' : null">
                                                            <mat-form-field class="standard">
                                                                <input matInput placeholder="General Access"
                                                                    formControlName="generalamount" [required]="isAmountRequired() ? 'required' : null" >
                                                                <span matPrefix>R&nbsp;</span>
                                                                <span matSuffix>.00</span>
                                                                <mat-error *ngIf="validation.check('general').result || validation.check('generalamount').result">
                                                                    {{validation.check('generalamount').message}}
                                                                    {{validation.check('general').message}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </mat-checkbox>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="standard">
                                                        <mat-select formControlName="category" placeholder="Event Category">
                                                            <mat-option value="jazz">
                                                                Jazz
                                                            </mat-option>
                                                            <mat-option value="hiphop">
                                                                Hip-Hop
                                                            </mat-option>
                                                            <mat-option value="gospel">
                                                                Gospel
                                                            </mat-option>
                                                            <mat-option value="rnb">
                                                                R&B
                                                            </mat-option>
                                                            <mat-option value="house">
                                                                House
                                                            </mat-option>
                                                            <mat-option value="other">
                                                                Other
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="standard">
                                                        <input matInput placeholder="Event Location" formControlName="location"
                                                            required>
                                                        <mat-error *ngIf="validation.check('location').result">
                                                            {{validation.check('location').message}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="standard">
                                                        <input matInput formControlName="releaseDate" readonly [matDatepicker]="picker"
                                                            placeholder="Event Date">
                                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <mat-form-field class="large">
                                                        <textarea matInput placeholder="A brief description of the event"
                                                            matTextareaAutosize matAutosizeMinRows="3"
                                                            matAutosizeMaxRows="5" formControlName="description"></textarea>
                                                        <mat-error *ngIf="validation.check('description').result">
                                                            {{validation.check('description').message}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <input type="hidden" formControlName="imageUrl" />

                                            <button mat-button (click)="fileInput.click()" color="accent">
                                                <mat-icon>cloud_upload</mat-icon>
                                                Upload Event Image
                                            </button>
                                            <input type="file" id="leaveapplication.attachment" style="display: none"
                                                class="hidden-input" (change)="onFileChange($event,1)" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
                                                #fileInput>
                                            <mat-list class="col-md-6">
                                                <mat-list-item *ngFor="let file of files">
                                                    <button mat-icon-button (click)="delete(file)">
                                                        <mat-icon color="warn">delete</mat-icon>
                                                    </button>
                                                    <h4 mat-line>{{file.name}}</h4>

                                                </mat-list-item>
                                            </mat-list>
                                            <div fxLayout="row" fxLayoutAlign="end">
                                                <button mat-button (click)="onNoClick()">Cancel</button>
                                                <button mat-button (click)="submitItem(shopItemForm)" [disabled]="!shopItemForm.valid">
                                                    Save
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="performances">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form novalidate [formGroup]="performanceForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-select (selectionChange)="onCountrySelectionChanged($event)"
                                                            formControlName="event" class="my-item-text" placeholder="Event">
                                                            <mat-option *ngFor="let event of (events$ | async)" [value]="event">
                                                                  
                                                                {{event.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <div *ngIf="event" class="card" style="width: 20rem;">

                                                        <img class="card-img-top" src="{{event.imageUrl}}">

                                                        <div class="card-content">
                                                            <span>
                                                                <mat-icon class="text-info">info</mat-icon><b>{{event.description}}</b>
                                                            </span>
                                                            <br>
                                                            <span>
                                                                <mat-icon class="text-success">date_range</mat-icon><b>{{event.releaseDate
                                                                    | date : format : timezone}}</b>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="standard">
                                                        <input matInput placeholder="Name of Artist" formControlName="name"
                                                            required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="standard">
                                                        <input type="time" matInput placeholder="Performance Time HH:mm:ss" formControlName="performanceTime"
                                                            required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <input type="hidden" formControlName="imageUrl" />

                                                <button mat-button (click)="fileArtist.click()" color="accent">
                                                    <mat-icon>add_a_photo</mat-icon>
                                                    Upload Artist Image
                                                </button>
                                                <input type="file" id="leaveapplication.attachment" style="display: none"
                                                    class="hidden-input" (change)="onFileChange($event,2)" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
                                                    #fileArtist>
                                            </div>
                                            <mat-list class="col-md-3">
                                                <mat-list-item *ngFor="let file of artistFiles">
                                                    <button mat-icon-button (click)="delete(file)">
                                                        <mat-icon color="warn">delete</mat-icon>
                                                    </button>
                                                    <button mat-icon-button (click)="delete(file)">
                                                        <mat-icon color="primary">image_search</mat-icon>
                                                    </button>
                                                    <h4 mat-line>{{file.name}}</h4>
                                                </mat-list-item>
                                            </mat-list>
                                            <div fxLayout="row">
                                            </div>
                                            <div  class="row h-100 justify-content-center align-items-center">
                                                <button button class="btn btn-accent btn-round" mat-button (click)="addMore(performanceForm)"
                                                    [disabled]="!performanceForm.valid">Add More</button>
                                                <button button class="btn btn-success btn-round" type="submit"
                                                    mat-raised-button mat-button (click)="savePerformance(performanceForm)"
                                                    [disabled]="isValid()">
                                                    Save
                                                </button>
                                            </div>
                                            <div *ngIf="performances.length>0"  class="row h-100 justify-content-center align-items-center">
                                                    <div class="col-md-8">
                                                        <div class="card">
                                                            <div class="card-header card-header-rose">
                                                                <p class="card-category">Here is a list of out upcoming events</p>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped">
                                                                        <thead class=" text-primary">
                                                                            <tr>
                                                                                <th>
                                                                                    Artist Name
                                                                                </th>
                                                                                <th>
                                                                                    Event Name
                                                                                </th>
                                                                                <th>
                                                                                    Performance Time
                                                                                </th>
                                                                           
                                                                                <th>
                                                                                    Action
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                        
                                                                        <tbody *ngFor='let performance of performances'>
                                                                            <tr>
                                        
                                                                                <td>
                                                                                    {{performance.name}}
                                                                                </td>
                                                                                <td>
                                                                                    {{performance.lastModified}}
                                                                                </td>
                                                                                <td>
                                                                                    {{performance.performanceTime}}
                                                                                </td>

                                                                                <td>
                                                                                       
                                                                                            <button mat-raised-button type="button" matTooltip="Remove Event" [matTooltipPosition]="'above'" (click)="removePerformance(performance)" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                                                                <i class="material-icons">close</i>
                                                                                            </button>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                        
                                        
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>