<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose">
                        <h4 class="card-title ">User Profile Infomration</h4>
                        <p class="card-category">Here is a list of user profiles</p>
                    </div>
                    <div *ngIf="userItems" class="card-body">
                            <div class="row">
                        <div class="col-md-1">
                            <a mat-icon-button disabled>
                                <mat-icon>search</mat-icon>
                            </a>
                        </div>
                        <div class="col-md-9">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        </div>
                        </div>
                        <mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="surname">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.surname}}</mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.emailAddress}} </mat-cell>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.color]="row.contactNumber">
                                    {{row.contactNumber}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-raised-button type="button" matTooltip="Edit" (click)="approve(row)"
                                        [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">verified_user</i>
                                    </button></mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-raised-button type="button" matTooltip="Delete" (click)="decline(row)"
                                        [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">delete</i>
                                    </button></mat-cell>

                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>