<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose">
                        <h4 class="card-title ">User Profile Infomration</h4>
                        <p class="card-category">Here is a list of user profiles</p>
                    </div>
                    <div *ngIf="userItems" class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Surname
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Edit
                                        </th>
                                        <th>
                                            Delete
                                        </th>
                                    </tr>
                                </thead>

                                <tbody *ngFor='let regRequest of userItems'>
                                    <tr>
                                        <td>
                                            {{regRequest.name}}
                                        </td>

                                        <td>
                                            {{regRequest.surname}}
                                        </td>

                                        <td>
                                            {{regRequest.emailAddress}}
                                        </td>
                                        <td>
                                            {{regRequest.contactNumber}}
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Edit" (click)="approve(regRequest)"
                                                [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">verified_user</i>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Delete" (click)="decline(regRequest)"
                                                [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>