<div class="bg-img">
<div class="container py-5">
    <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="">
            <img class="img" src="../../../../assets/img/logo.jpg" />
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-category text-gray">Forgot Login Details</h4>
          <h6 class="card-title">Vibeville Password Reset</h6>
          <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">

              <mat-form-field class="standard">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngFor="let validation of validation_messages.email">
                  <mat-error class="error-message" *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>

            <div class="card-footer" style="float:right">
              <mat-card-actions>
                <button class="btn btn-danger btn-round" (click)="cancelPasswordReset()" mat-raised-button>Cancel</button>
                <button class="btn btn-info btn-round" type="submit" mat-raised-button [disabled]="userDetailsForm.invalid">Submit</button>
              </mat-card-actions>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</div>