.bg-img {
    /* The image used */
    background-image: url("../../../../assets/img/bg2.jfif");
  
    min-height: 900px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
