<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-rose">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#audio" (click)="retrieveDocuments('audio')"
                                            data-toggle="tab">
                                            <i class="material-icons">library_music</i> Audio
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#video" (click)="retrieveDocuments('video')"
                                            data-toggle="tab">
                                            <i class="material-icons">video_library</i> Video
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#image" (click)="retrieveDocuments('image')"
                                            data-toggle="tab">
                                            <i class="material-icons">folder_shared</i> Pictures
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="image">
                                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>