<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <div for="image-click" class="hovereffect">
                            <img class="img-responsive" src="{{e.imageUrl}}" />
                            <div class="overlay">

                                <a href="javascript:void(0);" class="info"  (click)="previewImage(e.imageUrl)">Preview</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Event Details</h6>
                        <form [formGroup]="eventItemForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="standard">
                                        <input matInput placeholder="Event Name" formControlName="name" required>
                                        <mat-error *ngIf="validation.check('name').result">
                                            {{validation.check('name').message}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <mat-checkbox type="checkbox" formControlName="early" (change)="onChange('early')"
                                            [required]="isFieldRequired() ? 'required' : null">
                                            <mat-form-field class="standard">
                                                <input matInput placeholder="Early Bird Tickets" formControlName="earlyamount"
                                                    [required]="isAmountRequired() ? 'required' : null">
                                                <span matPrefix>R&nbsp;</span>
                                                <span matSuffix>.00</span>
                                                <mat-error *ngIf="validation.check('early').result || validation.check('earlyamount').result ">
                                                    {{validation.check('earlyamount').message}}
                                                    {{validation.check('early').message}}
                                                </mat-error>
                                            </mat-form-field>
                                        </mat-checkbox>

                                    </div>
                                    <div class="row">
                                        <mat-checkbox type="checkbox" formControlName="vip" (change)="onChange('vip')"
                                            [required]="isFieldRequired() ? 'required' : null">
                                            <mat-form-field class="standard">
                                                <input matInput placeholder="Vip" formControlName="vipamount"
                                                    [required]="isAmountRequired() ? 'required' : null">
                                                <span matPrefix>R&nbsp;</span>
                                                <span matSuffix>.00</span>
                                                <mat-error *ngIf="validation.check('vip').result || validation.check('vipamount').result ">
                                                    {{validation.check('vipamount').message}}
                                                    {{validation.check('vip').message}}
                                                </mat-error>
                                            </mat-form-field>
                                        </mat-checkbox>
                                    </div>
                                    <div class="row">
                                        <mat-checkbox type="checkbox" formControlName="general" (change)="onChange('general')"
                                            [required]="isFieldRequired() ? 'required' : null">
                                            <mat-form-field class="standard">
                                                <input matInput placeholder="General Access" formControlName="generalamount"
                                                    [required]="isAmountRequired() ? 'required' : null">
                                                <span matPrefix>R&nbsp;</span>
                                                <span matSuffix>.00</span>
                                                <mat-error *ngIf="validation.check('general').result || validation.check('generalamount').result">
                                                    {{validation.check('generalamount').message}}
                                                    {{validation.check('general').message}}
                                                </mat-error>
                                            </mat-form-field>
                                        </mat-checkbox>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="standard">
                                        <mat-select formControlName="category" placeholder="Event Category">
                                            <mat-option value="jazz">
                                                Jazz
                                            </mat-option>
                                            <mat-option value="hiphop">
                                                Hip-Hop
                                            </mat-option>
                                            <mat-option value="gospel">
                                                Gospel
                                            </mat-option>
                                            <mat-option value="rnb">
                                                R&B
                                            </mat-option>
                                            <mat-option value="house">
                                                House
                                            </mat-option>
                                            <mat-option value="other">
                                                Other
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="standard">
                                        <input matInput placeholder="Event Location" formControlName="location"
                                            required>
                                        <mat-error *ngIf="validation.check('location').result">
                                            {{validation.check('location').message}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="standard">
                                        <input matInput readonly formControlName="releaseDate" [matDatepicker]="picker"
                                            placeholder="Event Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <mat-form-field class="large">
                                        <textarea matInput placeholder="A brief description of the event"
                                            matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5"
                                            formControlName="description"></textarea>
                                        <mat-error *ngIf="validation.check('description').result">
                                            {{validation.check('description').message}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <input type="hidden" formControlName="imageUrl" />

                            <button mat-button (click)="fileInput.click()" color="accent">
                                <mat-icon>cloud_upload</mat-icon>
                                Update Event Image
                            </button>
                            <input type="file" id="leaveapplication.attachment" style="display: none" class="hidden-input"
                                (change)="onFileChange($event,1)" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
                                #fileInput>
                            <mat-list class="col-md-6">
                                <mat-list-item *ngFor="let file of files">
                                    <button mat-icon-button (click)="delete(file)">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </button>
                                    <h4 mat-line>{{file.name}}</h4>

                                    <!-- <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar> -->
                                </mat-list-item>
                            </mat-list>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Event</h4>
                        <p class="card-category">Performance details</p>
                    </div>
                    <div *ngIf="e" class="card-body">
                        <div *ngIf="e.performances">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                Artist Name
                                            </th>
                                            <th>
                                                Performance Time
                                            </th>
                                            <th>
                                                Artist Image
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor='let performance of e.performances '>
                                        <tr>

                                            <td>
                                                {{performance.name}}
                                            </td>
                                            <td>
                                                {{performance.performanceTime}}
                                            </td>
                                            <td>
                                                <div *ngIf='performance.imageUrl'>
                                                    <button mat-icon-button (click)="previewImage(performance.imageUrl)">

                                                        <mat-icon>photo_library</mat-icon>
                                                    </button>
                                                </div>
                                                <div *ngIf='!performance.imageUrl'>
                                                    <button mat-icon-button (click)="addImage(performance)">
                                                        <mat-icon>add_a_photo</mat-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <button button class="btn btn-info btn-round" mat-button (click)="back()">Back</button>
            <div fxLayout="row" fxLayoutAlign="end">

                <button button class="btn btn-success btn-round" [disabled]="!eventItemForm.valid" mat-raised-button
                    mat-button (click)="save()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>