<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <a mat-icon-button disabled>
                    <mat-icon>search</mat-icon>
                </a>
            </div>
            <div class="col-md-9">
                <mat-form-field class="search-form-field">
                    <input matInput type="text" placeholder="Search by event name" (keyup)="applyFilter($event.target.value)"  />
                    <button mat-button *ngIf="filterBy" matSuffix mat-icon-button aria-label="Clear" >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <button mat-icon-button matTooltip="Add Event" class="btn btn-primary" [matTooltipPosition]="'above'"
                    (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose">
                        <h4 class="card-title ">Events</h4>
                        <p class="card-category">Here is a list of out upcoming events</p>
                    </div>
                    <div *ngIf="shopItems" class="card-body">

                        <mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Event Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="category">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.category}}</mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="location">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="charge">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Cover Charge </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                        R{{row.unitPrice}}.00 </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-raised-button type="button" matTooltip="Edit" (click)="editEvent(row)"
                                        [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">verified_user</i>
                                    </button></mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-raised-button type="button" matTooltip="Delete" (click)="deleteEvent(row)"
                                        [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">delete</i>
                                    </button></mat-cell>

                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>